/* 
.main{
    background-image: url(https://m.media-amazon.com/images/I/81KkrQWEHIL._SX3000_.jpg);
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}.msg{
    font-size: 14px;
    background-color: #f5f6f6;
    width: 80%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
} 
/* 
.msg a {
    color: #007185;
    text-decoration: none;
}  */
/* 
.shop{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin: 8px;
}

.shop1{
    font-size: px;
}

.box1-img{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
} */
/* 
.box1-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.shop1 p a{
      text-decoration: none;
      color: #007185;
      font-size: 15px;
} */